$green     : #c0e5de;
$blue      : #b1dde3;
$black     : #676568;
$red       : #dc7b5e;
$darkgreen : #83986d;
$barBColor : #eee;
$barFColor : #e6ab6b;
@import "compass";
@import "compass/reset";
@import "compass/css3";

body {
	background: url("../img/bg.jpg") 50% 0% repeat;
	color: $black;
	font-family: Ubuntu, arial, sans-serif;
	font-size: 16px;
	line-height: 1.5em;
	overflow: hidden;
}

.container {
	min-height: 1000px;
	background: rgba($blue, .8);
	@include pie-clearfix;
}

input {
	border: 0;
	height: 40px;
	background: rgba(#eee, .6);
	padding-left: 5px;
}

.title {
	background: $black;
	color: $green;
	text-align: center;
	font-size: 2em;
	line-height: 100%;
	padding: .3em 0;
}

/*
 Bar Style
 */

progress, progress[role] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  background-size: auto;
  height: 70px;
  width: 100%;
}

progress[value]::-webkit-progress-bar {
  background-color: rgba($barBColor, .65);
}

.target-bar {
	margin-top: 300px;
	@include transform(rotate(-90deg));
	.bar-1::-webkit-progress-value {
		@include background-image(
			linear-gradient(-45deg, transparent 33%, rgba(0, 0, 0, .1) 33%, rgba(0,0, 0, .1) 66%, transparent 66%),
			linear-gradient(top, rgba(255, 255, 255, .25), rgba(0, 0, 0, .25)),
			linear-gradient(left, #e6ab6b, #dc7b5e, #ae96d4)
		);
		-webkit-animation: bar-fill 2s;
	}

	.bar-1::-moz-progress-bar {
		@include background-image(
			linear-gradient(-45deg, transparent 33%, rgba(0, 0, 0, .1) 33%, rgba(0,0, 0, .1) 66%, transparent 66%),
			linear-gradient(top, rgba(255, 255, 255, .25), rgba(0, 0, 0, .25)),
			linear-gradient(left, #e6ab6b, #dc7b5e, #ae96d4)
		);
		-moz-animation-name: bar-fill;
		-moz-animation-duration: 2s;
	}

	progress {
		position: relative;
		&::before, &::after {
			position: absolute;
			@include transform(rotate(90deg));
		}
		&::before {
			content: "$ 50,000";
			bottom: 0;
			margin: 0 0 -65px -25px;
			font-size: 1.5em;
		}
		&::after {
			content: "$ 1,000,000";
			color: $red;
			right: 0;
			margin: 75px -55px 0 0;
			font-size: 2em;
		}
	}
}

.text-side {
	margin-top: 200px;
}

.box {
	margin-bottom: 1em;
	h2 {
		float: left;
		background: $darkgreen;
		color: #eee;
		padding: 8px 5px;
		width: 100px;
		text-align: center;
	}
}

.end {
	margin-top: 1em;
	font-size: 1.5em;
	.final-day {
		color: darken($red, 10%);
	}
}

@-moz-keyframes bar-fill {
  0% { width: 0; }
}

@-webkit-keyframes bar-fill {
  0% { width: 0; }
}

@keyframes bar-fill {
  0% { width: 0; }
}

@media screen and (min-width: 700px) and (max-width: 991px) {
	progress, progress[role] {
		width: 96%;
	}
}